.main{
	display: table;
	margin: 0 auto;
	margin-top: 20px;
	width: 50%;
	-webkit-box-shadow: 2px -1px 9px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px -1px 9px -1px rgba(0,0,0,0.75);
	box-shadow: 2px -1px 9px -1px rgba(0,0,0,0.75);
}